/* visby-cy-latin-400-normal*/
@font-face {
  font-family: 'Visby CF';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./assets/VisbyCF-Regular.woff2') format('woff2'), url('./assets/VisbyCF-Regular.woff') format('woff');
}
